@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

@layer base {
  :root {
    --color-primary: 51 82 50;
    --color-secondary: 255 250 230;
    --color-tertiary: 249 199 126;
  }
}
